.Cardcont {
    height: 100px;
    width: 200px;
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: aqua;
    border: none;
    border-radius: 10px;
    font-style: italic;
}
.Button {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 150px;
    width: 200px;
    justify-content: space-evenly;
}


